<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Email</title>
</head>
<body style="font-size: 16px; line-height: 1.5; font-family: 'Poppins', sans-serif; color: #000000; margin: 0; padding: 0;">
  <table role="presentation" cellspacing="0" cellpadding="0" width="100%" style="border-collapse: collapse;">
    <tr>
      <td style="background: #D4E0E2; padding: 40px; text-align: center;">
        <table role="presentation" align="center" cellspacing="0" cellpadding="0" width="640" style="border-collapse: collapse; margin: 0 auto; background: #FFFFFF;">
          <tr>
            <td style="text-align: center;">
              <img src="https://dev.actriv.com/custom-data/emails/images/banner.png" alt="Banner" width="100%" style="display: block; height: auto; margin-bottom: 30px;">
            </td>
          </tr>
          <tr>
            <td style="text-align: center;">
              <img src="https://dev.actriv.com/custom-data/emails/images/logo.png" alt="Logo" style="display: inline-block; margin-bottom: 30px;">
            </td>
          </tr>
          <tr>
            <td>
              <table role="presentation" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                <tr>
                  <td style="padding: 20px;">
                    <h1 style="font-weight: 530; font-size: 20px; margin-top: 0; margin-bottom: 30px; text-align: left; margin-left: 30px;">Dear {{ facility_name }},</h1>
                    <p style="font-weight: 530; font-size: 16px; margin-bottom: 30px; text-align: left; margin-left: 30px;">Day shift on the {{ shift_date }} has been scheduled.</p>
                    <p style="font-weight: 530; font-size: 16px; margin-bottom: -30px; text-align: left; margin-left: 30px;">Best regards,<br>Actriv Team</p>
                    <p>&nbsp;</p>
                    <p style="text-align: left; margin-left: 30px;"><a href="https://www.actriv.com" style="text-decoration: none;">www.actriv.com</a></p>
                    <div style="text-align: left; margin-left: 30px;">
                    <p style="font-size: 12px; margin-top: 20px; color: #5E838C;">Copyright 2023 Actriv. All rights reserved.</p>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
